<div class="headingTop">
  <div class="commonMargin">
    <div class="BlockContact">
      <div class="headSet">
        <h2>
          <i class="fa fa-long-arrow-left" aria-hidden="true" (click)="backHome()"></i> &nbsp;Blocked Contact
        </h2>
        <div class="d-flex align-item-center">
          <img src="assets/images/pro-icons/block.svg" alt="">&nbsp;
          <p class="mb-0 pl-3">Add Blocked Contact</p>
        </div>
      </div>

      <div class="contactBlockSetting">
        <div class="userRowHeadFix">
          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>


          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="contactContainer">
            <div class="blockListing">
              <div class="imgBox">
                <img src="https://picsum.photos/200.jpg" alt="">
                <h5>Janet Folwer</h5>
              </div>
              <div class="contactRow">
                <div class="blockIcons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
