<div class="chatUsersListDisplay">
    <div class="d-flex align-items-center justify-content-between headingTop">
      <div class="">
        <h2 class="mb-0">Chats</h2>
      </div>
      <div class="">
        <span><img src="assets/images/new_message.png" alt=""></span>
        <span class="pl-4 dropdown-toggle" data-toggle="dropdown">
          <img src="assets/images/barDropdown.png" alt="">
        </span>
        <div class="dropdown-menu">
          <a class="dropdown-item" (click)='changeSetting("profile")' >Profile</a>
          <a class="dropdown-item" (click)='changeSetting("themecolor")'>Theme</a>
          <a class="dropdown-item" (click)='changeSetting("blockcontact")'>Block Contact </a>
          <a class="dropdown-item" (click)='changeSetting("setting")' >Setting</a>
          <a class="dropdown-item" routerLink="/scan">Logout</a>
        </div>
      </div>

    </div>
    <div class="searchRow">
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Search or start new chat">
        </div>
      </div>
    </div>
    <div class="userRowHeadFix">
    <div class="userRow activeUser">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber">
            <span>5</span></div>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber"><span>5</span></div>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber"><span>5</span></div>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber"><span>5</span></div>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber"><span>5</span></div>
        </div>
      </div>
    </div>

    <div class="userRow">
      <div class="userListing">
        <div class="imgBox">
          <img src="https://picsum.photos/200.jpg" alt="">
        </div>
        <div class="contentBox">
          <h5>Janet Folwer</h5>
          <p>I’m going to San Francisco is king
            and Airbnb.</p>
        </div>
        <div class="msgNotification">
          <div class="setNumber"><span>5</span></div>
        </div>
      </div>
    </div>

  </div>
  </div>
