<div class="headingTop">
  <div class="commonMargin">
    <div class="headSet">
      <h2><i class="fa fa-long-arrow-left" aria-hidden="true" (click)="backHome()" ></i> &nbsp;Settings</h2>
    </div>

    <div class="setting">
        <div class="displayProfilePic">
            <div class="">
                <img src="https://picsum.photos/200.jpg" alt="">
            </div>
            <div class="nameBox">
                <h4>Jannet Fowler</h4>
                <p>loream Ipsume</p>
            </div>
        </div>

        <div class="changesArea">
            <ul>
                <li>
                    <p><img src="assets/images/pro-icons/bell.svg" alt=""> <span>Notification</span></p>
                </li>

                <li>
                    <p><img src="assets/images/pro-icons/theme.svg" alt=""> <span>Theme</span></p>
                </li>

                <li>
                    <p><img src="assets/images/pro-icons/chatWall.svg" alt=""> <span>Chat Wallpaper</span></p>
                </li>

                <li>
                    <p><img src="assets/images/pro-icons/block.svg" alt=""> <span>Blocked</span></p>
                </li>
                <li>
                    <p><img src="assets/images/pro-icons/help.svg" alt=""> <span>Help</span></p>
                </li>

            </ul>
            <br>
            <br>
            <br>
            <p></p>
        </div>
    </div>
  </div>
</div>
