<div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-1 p-0 sidePanel">
        <app-menu></app-menu>
      </div>
      <div class="col-md-11 p-0">
        <div class="videoCall">
          <div class="row">
            <div class="col-md-12">
              <div class="bgBlue">
                <div class="row justify-content-between">
                  <div class="col-md-4">
                      <div class="d-flex align-items-center">
                          
                            <div class="mainPersion">
                                <img  src="https://picsum.photos/200.jpg" /> 
                              </div>
                              <div class="userName">
                                <h4>Jannet Fowler</h4>
                                <p> Time - 8:15</p>
                              </div>
                          
                      </div>
                  </div>
                  <div class="col-md-2">
                      <div class="row">
                          <div class="col-md-8">
                            <div class="otherPersion mb-3">
                                <img class="img-fluid" src="https://picsum.photos/200.jpg" /> 
                              </div>
                              <div class="otherPersion">
                                  <img class="img-fluid" src="https://picsum.photos/200.jpg" /> 
                                </div>
                          </div>
                      </div>
                  </div>
                </div>
                
                <!-- <div class="d-flex justify-content-center align-items-center mainPersion">
                    <div class="imgMain">
                      <img src="https://picsum.photos/200.jpg" /> 
                    </div>
                </div> -->
                <div class="row justify-content-center buttonsRow">
                  <div class="col-md-12">
                    <ul>
                      <li><button><img src="assets/images/audioCallicons/voice.svg" alt=""></button></li>
                      <li class="left"><button><img src="assets/images/audioCallicons/video.svg" alt=""></button></li>
                      <li class="left"><button><img src="assets/images/audioCallicons/addUser.svg" alt=""></button></li>
                      <li class="left"><button><img src="assets/images/audioCallicons/escap.svg" alt=""></button></li>
                      <li class="left"><button><img src="assets/images/audioCallicons/end.svg" alt=""> Leave</button></li>
                      <li class="left"><button><img src="assets/images/audioCallicons/zoom.svg" alt="" height="18px"></button></li>
                    </ul>
                  </div>
                </div>
  
                  <!-- sound bar -->
                  <div class="soundBar">
                    <label for="volume">
                      <i class="fa fa-volume-up" aria-hidden="true"></i>
                    </label>&nbsp;
                    <input type="range" id="volume" name="volume" min="0" max="10">
                  </div>
                  <!-- sound bar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  