<!-- <section class="bgAllBack"> -->
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-4 p-0 sidePanel">
      <!-- <app-menu></app-menu> -->
      <app-sidemenu></app-sidemenu>
    </div>
    <div class="col-md-8 pr-0">
      <div class="bgWhite">
        <div class="topStatusBar">
          <app-top-status-bar></app-top-status-bar>
        </div>
        <hr>
        <div class="chatboxPanel">
          <app-chat-box></app-chat-box>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- </section> -->
