<div class="logoPanel">
    <p class="logo"><a routerLink="/" >
      <img src="assets/images/logoicon.png" alt="">
      <span>Talk Point</span>
      </a>
  </p>
  <ul>
    <li><a routerLink="/" class="activeMenu"><img src="assets/images/chat.png" alt=""></a></li>
    <li><a routerLink="/"><img src="assets/images/logCheck.png" alt=""></a></li>
    <li><a routerLink="/"><img src="assets/images/broadcast.png" alt=""></a></li>
    <li><a routerLink="/audio/"><img src="assets/images/call.png" alt=""></a></li>
    <!-- <li><a routerLink="/" routerLinkActive=""><img src="assets/images/nightMode.png" alt=""></a></li> -->
  </ul>
</div>