<div class="headingTop">
  <div class="commonMargin">
    <div class="headSet text-center">
      <h2><i class="fa fa-long-arrow-left" aria-hidden="true" (click)="backHome()"></i>
        &nbsp;Set Chat Wallpaper</h2>
      <div class="custom-control custom-checkbox text-center">
        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
        <label class="custom-control-label" for="customCheck">Add Talk Point Doodles</label>
      </div>
    </div>
    <div class="ThemeSetting">

        <div class="row">
            <div class="col-md-4">
                <div class="one themeBox">
                    <span>Default</span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="two themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="three themeBox"></div>
            </div>

            <div class="col-md-4">
                <div class="four themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="five themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="six themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="seven themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="eat themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="nin themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="ten themeBox"></div>
            </div>

            <div class="col-md-4">
                <div class="one themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="two themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="three themeBox"></div>
            </div>

            <div class="col-md-4">
                <div class="four themeBox"></div>
            </div>
            <div class="col-md-4">
                <div class="five themeBox"></div>
            </div>
        </div>
    </div>
  </div>
</div>
