<section class="scannerContainer">
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-md-12 mobileElement">
				<div class="bg-white">
					<div class="elements">
						<div class="row">
							<div class="col-md-7 offset-md-1">
								<div class="logoSet">
								   <p><img height="60px" src="assets/images/logo.png" alt=""></p>
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-md-5 offset-md-1">
								<h1>To use Talk Point <br>on your computer</h1>
								<div class="listForInformation">
									<p><img src="assets/images/checkmark.png" alt=""><span>Open Talk Point on your phone</span></p>

									<p><img src="assets/images/checkmark.png" alt=""><span>Tap <strong>Menu <img src="assets/images/bar.png" alt=""></strong> or</span> <img src="assets/images/gear.png" class="pr-2 pl-2" alt=""><strong>setting</strong> and select <strong>Talk Point Web</strong></p>

									<p><img src="assets/images/checkmark.png" alt=""><span>Point your phone to this screen to capture the code</span></p>
								</div>
							</div>
							<div class="col-md-3 text-center">
								<div class="scanCol">
									<p><a routerLink="/index"><img class="img-fluid" src="assets/images/qrcode.png" alt=""></a></p>
									<p><img src="assets/images/check.png" alt=""> <strong>Keep me signed in</strong></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="text-center mb-0 mt-4"><a class="text-white" href="#">Need Help to get started?</a></p>
			</div>
		</div>
	</div>

</section>